<p>get-student-by-id works!</p>

<!-- <a routerLink="get_Id">Click_TO_Get_Single_Student</a> -->
<!-- <button (click)="getstudent_id()">click_id</button> -->
<div class="container">
<div class="row">

  <div class="col-xs-12 ">
    <form #getbystudent = "ngForm">

      <div class="container">
        <div class="row">

          <div class="col-xs-12">

        <label>firstName</label>
        <input type="text" />

          </div>
          <div class="col-xs-12">

            <label>lastName</label>
            <input type="text" />

              </div>

        </div>
      </div>


    </form>


  </div>
</div>

</div>
